<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    
    
    
    <add key="PropertyForceString1" value="'property1Value'"/>
    
    
    
    
    <add key="Propertytring1"       value="property1Value"/>
    
    
    
    
    <add key="PropertyNumeric1" value="99999.99"/>
    
    
    
    
    <add key="PropertyArrayString1" value="one;two;three"/>
    
    
    
    
    <add key="PropertyArrayNumeric" value="1;2;3"/>
    
    
    
    
    <add key="PropertyDate"  value="25/12/2017"/>
    
    
    
    
    <add key="PropertyDateTime"     value="25/12/2017 12:12:15"/>
    
    
    
    
    <add key="PropertyArrayDate"    value="25/12/2017;15/12/2015"/>
    
    
    
    
    <add key="PropertyBool"         value="true"/>
    
    
    
    
    <add key="PropertyArrayBool"    value="true;false"/>
    
    
    
    <add key="PropSaveChararcter"   value="one\;two\;three"/>


    
    
    
    <add key="PropNumericForceString"   value="'123'"/>


    <add key="PropStringSaveComilla"   value="\'123\'"/>



    <add key="PropArray"                 value="one;two;three"/>
    
    
    <add key="PropArraySaveChararcter"   value="one\;two\;three"/>
    
    
    


 
  </appSettings>
</configuration>